MONGODB_URI=
MONGODB_DB=contact
MONGO_URL = 
DBPASS= c11yrbZf6MOdj8Ue
DBuser= kishor811
NEXT_PUBLIC_BASE_URL=http://localhost:3500/api
NEXT_PUBLIC_CONTAINER = next_personal
NEXT_PUBLIC_TABLE=project
NEXT_PUBLIC_GITHUB_ID=
NEXT_PUBLIC_GITHUB_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_FACEBOOK_CLIENT_ID=
NEXT_PUBLIC_FACEBOOK_CLIENT_SECRET=
NEXT_PUBLIC_EMAIL_SERVER_HOST=
NEXT_PUBLIC_EMAIL_SERVER_PORT=
NEXT_PUBLIC_EMAIL_SERVER_USER=
NEXT_PUBLIC_EMAIL_SERVER_PASSWORD=
NEXT_PUBLIC_EMAIL_FROM=
NEXT_PUBLIC_SECRET= eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTcwMjgyMDk4NywiaWF0I
NEXTAUTH_SECRET=3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTcwMjgyMDk4NywiaWF0I
NEXTAUTH_URL =http://localhost:3000